# This file contains pin mappings for the Creality CR-10S Pro. To use
# this config, the firmware should be compiled for the AVR atmega2560.

#run KIAUH and run advanced . then make and upload to atmega2560
[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 4000 #4200max with input shaper, or 1500 without.
max_z_velocity: 10
max_z_accel: 100

[extruder]
step_pin: PA4
dir_pin: PA6
enable_pin: !PA2
rotation_distance: 22.900
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 70.0
max_extrude_only_accel: 1000.0
heater_pin: PB4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK5
control: pid
pid_Kp=31.748 
pid_Ki=1.997 
pid_Kd=126.200
min_extrude_temp: 170
min_temp: 5
max_temp: 275
pressure_advance: 0.82

[heater_bed]
heater_pin: PH5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PK6
control: pid
pid_Kp=77.133 
pid_Ki=1.530 
pid_Kd=971.882
min_temp: 5
max_temp: 140

[stepper_x]
step_pin: PF0
dir_pin: PF1
enable_pin: !PD7
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PE5
position_endstop: 0
position_min: 0
position_max: 300
homing_speed: 50
homing_retract_dist: 5

[stepper_y]
step_pin: PF6
dir_pin: !PF7
enable_pin: !PF2
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PJ1
position_endstop: 0
position_min: 0
position_max: 310
homing_speed: 50
homing_retract_dist: 5

[stepper_z]
step_pin: PL3
dir_pin: !PL1
enable_pin: !PK0
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_min: -1
position_max: 351

[fan]
pin: PH6



